<div class="card">
    <div class="card-header">
      <h2>Cadastro</h2>
    </div>
<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <div>
      <div class="field">
        <label for="fullName">Nome completo</label>
        <input
          type="text"
          pInputText
          formControlName="fullName"
          name="fullName"
          placeholder="Digite seu nome"
        />
        <small
          *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
          class="block p-error"
        >
          <div *ngIf="fullName.errors?.['required']" class="my-error">Nome é obrigatório.</div>
          <div *ngIf="fullName.errors?.['pattern']" class="my-error">Nome inválido.</div>
        </small>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          name="email"
          placeholder="usuario@exemplo.com"
        />
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']" class="my-error">Email é obrigatório.</div>
          <div *ngIf="email.errors?.['email']" class="my-error">Email inválido.</div>
        </small>
      </div>
      <div class="field">
        <label for="password">Senha</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          name="password"
          placeholder="* * * * * * * * * *"
        />
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']" class="my-error">Senha é obrigatório.</div>
        </small>
      </div>
      <div class="field">
        <label for="confirmPassword">Confirmar Senha</label>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          name="confirmPassword"
          placeholder="* * * * * * * * * *"
        />
        <small
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
          "
          class="block p-error"
        >
          <div *ngIf="confirmPassword.errors?.['required']" class="my-error">
            Confirme a senha
          </div>
        </small>
        <small
          class="block p-error"
          *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
        >
          Password should match
        </small>
      </div>
      <button
        type="submit"
      >Cadastrar</button>
    </div>
  </form>
</div>